server:
  port: 8082

spring:
  datasource:
    url: jdbc:h2:mem:teamsdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true